<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.moym.mapper.StudioRereplyMapper">

	<insert id="insert">
		
		insert into tbl_studio_rereply (rno, bno, rereply, rereplyer)
		values (#{rno}, #{bno}, #{rereply}, #{rereplyer})
	
	</insert>
	
	<select id="read" resultType="org.moym.domain.RereplyVO">
		select * from tbl_studio_rereply where rrno = #{rrno}
	</select>

	<delete id="delete">
		delete from tbl_studio_rereply where rrno = #{rrno}
	</delete>

	<update id="update">
		update tbl_studio_rereply set rereply = #{rereply}, updatedate = now() where rrno = #{rrno}
	</update>
	
	<delete id="deleteAll"><!-- rno로 바꿔야되나? -->
		delete from tbl_studio_rereply where bno = #{bno}
	</delete>
	
	<delete id="deleteAllByRno">
		delete from tbl_studio_rereply where rno = #{rno}
	</delete>
	
	
	
<!-- 
<select id="getListWithPaging" resultType="org.moym.domain.RereplyVO">

	select rrno, rno, rereply, rereplyer, rereplydate, updatedate
		from tbl_studio_rereply
		where rno = #{rno}
		order by rereplydate desc  		
  		limit #{cri.skip}, #{cri.amount}	
</select>
	
 -->
<select id="getListWithPaging" resultType="org.moym.domain.RereplyVO">

	select rrno, rno, rereply, rereplyer, rereplydate, updatedate
		from tbl_studio_rereply
		where rno = #{rno}
		order by rereplydate desc  		
  		limit 0, 100
</select>


	<select id="getCountByRno" resultType="int">
	<![CDATA[
	select count(rrno) from tbl_studio_rereply where rno = #{rno}
	]]>
	</select>
	
	
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_studio_rereply
	</select>
	
	
	
	
	

</mapper>